.app__navigation {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.o-demo__title {
    text-align: center;
    padding: 2rem;
}

.o-demo-form {
    background: white;
    border-radius: 0.25rem;
    padding-left: 14vw;
    padding-right: 14vw;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    min-height: 50vh;
}

.o-demo__navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.o-demo-form__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
