


/* Button */
.btn {
  outline: none;
  @apply font-bold py-2 px-4 bg-blue-500 text-white rounded;
}
.btn-rounded {
  @apply rounded-full;
}
.btn-outlined-primary {
  @apply bg-transparent text-blue-700 font-semibold py-2 px-4 border border-blue-500;
}
.btn-outlined-primary:hover {
  @apply font-bold py-2 px-4 bg-blue-500 text-white rounded;
}
.btn-disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* Field */
.field-label {
  @apply block text-gray-700 text-sm font-bold mb-2;
}
.field-danger {
  @apply text-red-500;
}

/* Input */
.input {
  @apply appearance-none border w-full py-2 px-3 text-gray-500 leading-tight;
}
.input-danger {
  @apply border-red-500;
}

/* Dropdown */
.dropdown {
  @apply inline-flex relative;
}
.dropdown-menu {
  min-width: 12em;
  @apply bg-white px-2 shadow-lg rounded-sm ;
}
.dropdown-item {
  @apply relative block no-underline px-1 py-2 cursor-pointer;
}

.dropdown-item-active {
  @apply bg-blue-500;
}

/* Checkbox */

.checkbox {
  @apply appearance-none bg-blue-500 border-blue-500;
}

.checkbox-checked {
  @apply bg-blue-500;
}

/* Steps */

.step-divider {
  background: #b5b5b5;
}

.steps-nav-item-active .step-marker {
  @apply text-blue-500 border-blue-500;
}

.steps-nav-item-active .step-divider {
  background: none;
  @apply bg-blue-500;
}

.steps-nav-item-previous .step-marker {
  @apply bg-blue-500;
}

.steps-nav-item-previous .step-divider {
  background: none;
  @apply bg-blue-500;
}
